* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: rgb(166, 166, 9);
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;

  @media (width < 40em) {
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
  }
}

.nav-links a {
  color: black;
  font-weight: bold;
  text-decoration: none;

  @media (width > 40em) {
    color: #fff;
  }
}

.nav-links a:hover {
  color: red;
  font-weight: bold;
}

.nav-item {
  list-style: none;
  font-size: 1.5rem;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.menu {
  @media (width < 40em) {
    background-color: rgb(166, 166, 9);
    position: fixed;
    padding: 1.5rem;
    inset: 0;
    translate: 100vw 0;
    transition: translate 0.3s ease-in-out;
  }
}

.menu-open {
  display: block;
  margin-left: auto;

  @media (width > 40em) {
    display: none;
  }
}

/* .menu-open.active + .menu */
.menu.show {
  translate: 0;
}

.menu-open i {
  font-size: 3rem;
  color: rgb(166, 166, 9);
}

.menu-close {
  display: block;
  margin-left: auto;
  background: none;
  border: none;

  @media (width > 40em) {
    display: none;
  }
}

form {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 0 2rem;
  margin: 1.5rem 0;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  padding: 0 2rem;
  color: rgb(166, 166, 9);
  font-size: 1.1rem;
  font-weight: bold;
}

.form-group p {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(166, 166, 9);
}

.btn {
  background-color: rgb(166, 166, 9);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  padding: 0.7rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

/*
dialog::backdrop {
  background: rgba(166, 166, 9, 0.5);
}
*/

.dialog {
  display: none;
  position: fixed;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgb(166, 166, 9);
  padding: 2rem;
  border-radius: 20px;
  border: 3px solid black;
  font-size: 1.075rem;
  font-weight: bold;
}

.dialog-header {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.close {
  background-color: black;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
}

footer {
  color: rgb(166, 166, 9);
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

@media (width > 40em) {
  .header {
    margin-bottom: 2rem;
  }

  .nav-links a {
    color: rgb(166, 166, 9);
  }

  .nav-links a:hover {
    color: white;
  }

  .dialog {
    margin-top: -5rem;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
  }
}
